* {
	margin: 0;
	padding: 0;
}

.fb_iframe_widget {
	line-height: 15px;
}

h2 {
	display: none;
	position: absolute;
	left: 0.5em;
	top: 0.5em;
	font-size: 2.6em;
	z-index: 100;
	color: #fff;
	text-shadow: 1px 2px 0 darken(#d5dee9, 20%);
	box-shadow: 0 3px 0 darken(#d5dee9, 20%);
	font-family: 'Yanone Kaffeesatz', sans-serif;
	background: darken(#d5dee9, 60%);
	width: 2em;
	height: 2em;
	line-height: 1.8em;
	border-radius: 100%;
	text-align: center;
}

.lives {
	display: none;
	position: absolute;
	left: 1.3em;
	top: 7em;
	width: 5em;
	font-size: 2.6em;
	z-index: 100;
	color: darken(#d5dee9, 60%);
	text-shadow: 1px 2px 0 darken(#d5dee9, 20%);
	line-height: 1.8em;
	text-align: center;
}

.timer {
	display: none;
	position: absolute;
	left: 1.3em;
	top: 9em;

	width: 5em;
	height: 0.3em;

	z-index: 100;

	box-shadow: 1px 2px 0 darken(#d5dee9, 20%);
	border-radius: 1em;
	border: solid 0.2em darken(#d5dee9, 60%);

	.fill {
		background: darken(#d5dee9, 60%);
		height: 100%;
	}
}

h1 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	margin: 0.3em auto;
	font-size: 7em;
	text-align: center;
	color: darken(#d5dee9, 60%);
	text-shadow: 0 2px 0 darken(#d5dee9, 20%);

	b {
		color: #d13944;
		text-shadow: 0 2px 0 lighten(#d13944, 20%);
	}
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
	background: #d5dee9;
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.1em;
}

section {
	width: 100%;
	height: 100%;
	position: absolute;
	top: -100%;
	left: -100%;	
	background: #f00;
	z-index: 1;
	overflow: hidden;

	i {
		display: block;
		font-size: 20em;
		line-height: 2em;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		margin: auto;
		text-align: center;

		&.correct {
			color: #ffffff;
		}
	}
}

.social {
	position: fixed;
	z-index: 0;
	bottom: 1em;
	right: 1em;
}

.txt {
	background: #fefefe;
	border-bottom: solid 0.5em #eee;
	padding: 4%;
	width: 60%;
	margin: 0 auto 0 auto;
	border-radius: 5px;
	color: #555;

	h3 {
		color: #222;
		display: block;
		margin: 0.5em 0;
	}

	ul {
		list-style-position: inside;
		list-style-type: square;
		margin-left: 1em;	
	}

	.centering {
		text-align: center;
		margin-top: 2em;
	}
}

.lives {
	font-size: 1em;
}

.msg {
	display: none;
    padding: 0.6em;
    text-align: center;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    border: solid 1px #d13944;
    border-radius: 3px;
    color: #d13944;
    margin-bottom: 1em;
}

a {
    display: inline-block;
    min-width: 20%;
    padding: 0.6em;
    text-align: center;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    border: solid 1px darken(#d5dee9, 60%);
    border-radius: 3px;
    color: darken(#d5dee9, 60%);
    text-decoration: none;
    transition: all .2s lisnear;
    -webkit-transition: all .2s linear;
    cursor: pointer;

    &:hover {
        background: darken(#d5dee9, 60%);
        color: #fff;
    }
}

@color0: #58d363;
@color1: #F76C27;
@color2: #E7E737;
@color3: #6D9DD1;
@color5: #57d3c8;
@color6: #E73F3F;
@color4: #e76395;
@color7: #7E45D3;

.preset-0 {
	background: @color0;
	color: darken(@color0, 20%);
}

.preset-1 {
	background: @color1;
	color: darken(@color1, 20%);
}

.preset-2 {
	background: @color2;
	color: darken(@color2, 20%);
}

.preset-3 {
	background: @color3;
	color: darken(@color3, 20%);
}

.preset-4 {
	background: @color4;
	color: darken(@color4, 20%);
}

.preset-5 {
	background: @color5;
	color: darken(@color5, 20%);
}

.preset-6 {
	background: @color6;
	color: darken(@color6, 20%);
}

.preset-7 {
	background: @color7;
	color: darken(@color7, 20%);
}

@media (max-width: 400px) {
    body {
        font-size: 14px;
    };
}